:root{
    --primary-color:#332FD0;
    --secondary-color:#f92e7c;
    --third-color:#fff;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1f1f1;
}

img{
    width: 100%;
    display: block;
}
h1,
h2,
h3{
    font-weight: bold;
}

h1{
    font-size: 8rem;
}

h2{
    font-size: 4rem;
}
h3{
    font-size: 3.6rem;
}
.contenedor{
    max-width: 160rem;
    margin: 0 auto;
    width: 90%;
}